<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Order</title>
    <link rel="stylesheet" type="text/css" href="/css/example.css" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <container class="navbar">
      <div class="left">
        <div class="pages"><a th:href="@{/Home}">Home</a></div>
        <div class="pages"><a th:href="@{/Profile}">Profile</a></div>
        <div class="pages active-nav-link"><a th:href="@{/Order}">Order</a></div>
        <div class="pages"><a th:href="@{/Review}">Review</a></div>
        <div class="pages"><a th:href="@{/Logout}">Logout</a></div>
      </div>
      <div class="right">
        <div class="Site Title">Restaurant Advisor</div>
      </div>
    </container>
     
    <center>

    <span th:text="${message}" />

    <form action="#" th:action="@{/Order}" th:object="${formCommand}" method="post">

        <table class = "prettytable" border="1">

            <tr>
                <td>Restaurant :</td>
                <td>
                    <select th:field="*{dropdownSelectedValue}" default="1001">
                    <option 
                        th:each="rest: ${restaurant}"
                        th:value="${rest.restID}"
                        th:text="${rest.rName}" ></option>
                  </select>
                </td>
            </tr>
            <tr>
                <td>Type :</td>
                <td>
                    <ul>
                        <li th:each="value: ${type}">
                        <input type="radio" 
                            th:field="*{radioButtonSelectedValue}"
                            th:value="${value}" />
                        <label 
                            th:for="${#ids.prev('radioButtonSelectedValue')}"
                            th:text="${value}"></label>
                        </li>
                    </ul>
                </td>
            </tr>

        </table>

        <input type="submit" value="Submit" />
        <input type="reset" value="clear" name="Clear"/>

    </form>
    
    </center>
</body>
</html>

