<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Restaurant Advisor</title>
    <link rel="stylesheet" type="text/css" href="/css/example.css" />    
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
  <container class="navbar">
    <div class="left">
      <div class="pages active-nav-link"><a th:href="@{/Home}">Home</a></div>
      <div class="pages"><a th:href="@{/Profile}">Profile</a></div>
      <div class="pages"><a th:href="@{/Order}">Order</a></div>
      <div class="pages"><a th:href="@{/Review}">Review</a></div>
      <div class="pages"><a th:href="@{/Logout}">Logout</a></div>
    </div>
    <div class="right">
      <div class="Site Title">Restaurant Advisor</div>
    </div>
  </container>

    <center>

		<p th:each="restaurant : ${restList}">
			<a class="restlink" th:href="@{/Restaurant/{id}(id=${restaurant.restID})}"><span th:text="${restaurant.rName}"></span></a></td>
    </br>
    </p>

    </center>
    
</body>
</html>